{% extends 'base.twig' %}

{% block content %}
  <div class="container">
    <form class="needs-validation add_writer_form" enctype="multipart/form-data" novalidate>
      <div class="form-group writer-name input-field-wrapper">
        <div class="label-for-input">Имя</div>
        <input class="form-control" name="writerName" placeholder="Федор" type="text" required>
        <div class="invalid-feedback">Заполните это поле</div>
      </div>
      <div class="form-group writer-name input-field-wrapper">
        <div class="label-for-input">Отчество</div>
        <input class="form-control" name="writerPatronymic" placeholder="Михайлович" type="text">
        <div class="invalid-feedback">Заполните это поле</div>
      </div>
      <div class="form-group writer-name input-field-wrapper">
        <div class="label-for-input">Фамилия</div>
        <input class="form-control" name="writerSurname" placeholder="Достоевский" type="text" required>
        <div class="invalid-feedback">Заполните это поле</div>
      </div>
      <div class="clear"></div>
      <div class="form-group input-field-wrapper">
        <div class="writer-filter-parameter">
          <div class="label-for-input">Страна</div>
          <input class="form-control" placeholder="Россия" name="writerCountry" required>
          <div class="invalid-feedback">Заполните это поле</div>
        </div>
        <div class="writer-filter-parameter">
          <div class="label-for-input">Век</div>
          <input class="form-control" placeholder="20" name="writerCentury" required>
          <div class="invalid-feedback">Заполните это поле</div>
        </div>
        <div class="writer-filter-parameter">
          <div class="label-for-input">Жанры писателя</div>
          <input class="form-control" placeholder="Роман, Мистика" name="writerGenres" required>
          <div class="invalid-feedback">Заполните это поле</div>
        </div>
      </div>
      <div class="clear"></div>
      <div class="form-group input-field-wrapper">
        <div class="date-of-birth-input">
          <div class="label-for-input">Дата рождения</div>
          <input class="form-control" name="dateOfBirth" type="text" placeholder="гггг-мм-дд" required>
          <div class="invalid-feedback">Заполните это поле</div>
        </div>
        <div class="date-of-death-input">
          <div class="label-for-input">Дата смерти</div>
          <input class="form-control" name="dateOfDeath" type="text" placeholder="гггг-мм-дд">
          <div class="invalid-feedback">Заполните это поле</div>
        </div>
        <div class="clear"></div>
      </div>
      <div class="form-group input-field-wrapper">
        <div class="label-for-input">Описание для карточки писателя</div>
        <textarea class="form-control" name="cardDescription" required></textarea>
        <div class="invalid-feedback">Заполните это поле</div>
      </div>
      <div class="form-group input-field-wrapper">
        <div class="label-for-input">Известные книги писателя</div>
        <textarea class="form-control" name="famousBook" required></textarea>
        <div class="invalid-feedback">Заполните это поле</div>
      </div>
      <div class="form-group input-field-wrapper">
        <div class="label-for-input">Цитата</div>
        <textarea type="text" class="form-control" name="quote" required></textarea>
        <div class="invalid-feedback">Заполните это поле</div>
      </div>
      <div class="form-group input-field-wrapper">
        <div class="label-for-input">Описание писателя</div>
        <textarea class="form-control" rows="2" name="introductionContent" required></textarea>
        <div class="invalid-feedback">Заполните это поле</div>
      </div>
      <div class="form-group input-field-wrapper">
        <div class="label-for-input">Основная информация о писателе</div>
        <textarea class="form-control" rows="3" name="content" required></textarea>
        <div class="invalid-feedback">Заполните это поле</div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 form-group input-field-wrapper">
          <label for="mainWriterPhoto">Выберите главное фото писателя</label>
          <input name="mainWriterPhoto" type="file" class="form-control-file form-control" id="mainWriterPhoto" required>
          <div class="invalid-feedback">Заполните это поле</div>
        </div>
        <div class="col-12 col-md-6 form-group input-field-wrapper">
          <label for= "writerSignature">Выберите изображение подписи писателя</label>
          <input name="writerSignature" type="file" class="form-control-file form-control" id="writerSignature">
          <div class="invalid-feedback">Заполните это поле</div>
        </div>
      </div>
      <div class="form-group input-field-wrapper">
        <label for="writerGallery">Выберите несколько фотографий для галереи</label>
        <input name="writerGallery" type="file" class="form-control form-control-file" id="writerGallery" multiple required>
        <div class="invalid-feedback">Заполните это поле</div>
      </div>
      <button class="button button-search" type="submit">Добавить писателя</button>
    </form>
  </div>
{% endblock %}

{% block button %}
<button type="button" class="button-sign button-sign-out button-search button">
  Выйти
</button>
{% endblock %}