<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Литературное пространство</title>
  {% include 'blocks/style.twig' %}
</head>
<body>
<header>
  <div class="header-top">
    <div class="container">
      <div class="row">
        <div class="col-10">
          <div class="project-name">Литературное пространство</div>
          <div class="project-subtitle">Путеводитель по биографическому миру поэтов и писателей</div>
          {#<a href="add_writer.php">Добавить писателя</a>#}
        </div>
        <div class="col-2">
          <button type="button" class="button-sign-in button-search button" data-toggle="modal" data-target="#exampleModalCenter">
            Войти
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
  {% block content %} {% endblock %}
  {% include 'blocks/modal.twig' %}
{% include 'blocks/scripts.twig' %}
</body>
</html>