<!DOCTYPE html>
<html lang="ru" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Литературное пространство</title>
</head>
<body>
  <h1>Greeting!</h1>
  {% block content %}
  {% endblock %}
</body>