@import "variables";

body
{
  margin: 0;
  padding: 0;
}

.header-top
{
  font-family: $mainFont;
  padding: 30px 0 30px;

  .project-name
  {
    font-size: 30px;
  }

  .project-subtitle
  {

  }
}

.header-main
{
  background: url("../../image/header_background.jpg") center center;
  background-size: cover;
  color: white;
  font-family: $mainFont;

  .header-main-text
  {
    max-width: 542px;
    display: block;
    margin: 0 auto;
  }

}

.description-block
{
  padding: 71px 0 286px;
  text-align: center;
}

.slider-wrapper
{
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-field-wrapper
{
  background: url("../../image/main_background.jpg");
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px;

  .genre-input
  {
    padding: 20px 0 25px;
  }

  .search-field
  {
    font-family: $mainFont;
    background-color: white;
    padding: 40px 30px 40px;
  }

  .search-field-title
  {
    font-size: 30px;
  }

  .dropdown-century
  {
    max-width: 114%;
    min-width: 111%;
  }

}

.padding-select
{
  padding: 10px 0 10px;
}

.button-search
{
  color: white;
  padding: 10px 64px 10px;
  font-size: 25px;
  border-radius: 4px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 26px;
  background-color: #990000;
}

.button
{
  border: none;
  cursor: pointer;
  text-decoration: none;
  outline: none;
}