body {
  margin: 0;
  padding: 0; }

.common {
  font-family: "Comfortaa"; }

.header-top {
  font-family: "Comfortaa";
  padding: 20px 0 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }
  .header-top .project-name {
    font-size: 30px; }

.header-main {
  background: url("../../../content/image/background/header_background.jpg") center center;
  background-size: cover;
  color: white;
  font-family: "Comfortaa"; }
  .header-main .header-main-text {
    max-width: 542px;
    display: block;
    margin: 0 auto; }

.description-block {
  padding: 71px 0 286px;
  text-align: center; }

.slider-wrapper {
  padding-top: 30px;
  padding-bottom: 30px; }

.search-field-wrapper {
  background: url("../../image/background/main_background.jpg");
  background-size: cover;
  padding-top: 60px;
  padding-bottom: 60px; }
  .search-field-wrapper .genre-input {
    padding: 20px 0 25px; }
  .search-field-wrapper .search-field {
    font-family: "Comfortaa";
    background-color: white;
    padding: 40px 30px 40px; }
  .search-field-wrapper .search-field-title {
    font-size: 30px; }
  .search-field-wrapper .dropdown-century {
    max-width: 114%;
    min-width: 111%; }

.padding-select {
  padding: 10px 0 10px; }

.button-search {
  color: white;
  padding: 10px 64px 10px;
  font-size: 25px;
  border-radius: 4px;
  text-align: center;
  display: block;
  margin: 0 auto;
  margin-top: 26px;
  background-color: #990000; }

.button {
  border: none;
  cursor: pointer;
  text-decoration: none;
  outline: none;
  text-align: center;
  display: block;
  margin: 0 auto; }

.categories {
  font-family: "Comfortaa";
  cursor: pointer;
  padding-bottom: 35px; }
  .categories .category {
    text-align: center;
    padding: 80px 10px 80px;
    margin-top: 25px;
    font-size: 21px;
    background-color: #D4EDE2; }
    .categories .category:hover {
      background-color: #A7DDC6;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.main-title {
  font-size: 40px;
  text-align: center;
  padding-top: 35px;
  padding-bottom: 10px; }

.button-show-more {
  background-color: #17806D;
  padding: 10px 30px 10px;
  color: black;
  margin-top: 25px;
  font-size: 22px;
  border-radius: 4px; }
  .button-show-more:hover {
    background-color: #1CAC78; }

.footer-menu {
  font-family: "Comfortaa";
  padding-left: 0; }
  .footer-menu .footer-menu-item {
    cursor: pointer;
    display: inline-block;
    padding: 20px 10px 20px; }

.search-result {
  font-family: "Comfortaa";
  padding-bottom: 50px; }
  .search-result .main-title {
    text-align: left;
    padding-bottom: 0; }
  .search-result .bread-crumbs {
    padding-top: 30px; }
  .search-result .button-show-more {
    margin-top: 0; }

.search-options {
  font-size: 19px; }

.search-card-container {
  padding: 30px 0 30px; }
  .search-card-container .search-card {
    margin-bottom: 20px;
    cursor: pointer;
    padding: 20px 5px 20px; }
    .search-card-container .search-card .author-card-name {
      padding: 10px 0 10px;
      font-size: 20px;
      font-weight: bold; }
    .search-card-container .search-card .years-of-life {
      padding: 0 0 10px; }
    .search-card-container .search-card .author-card-description {
      padding-bottom: 10px; }
    .search-card-container .search-card:hover {
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); }

.author-container .main-img-author {
  max-width: 500px; }
.author-container .author-description {
  padding: 0 40px; }
  .author-container .author-description .quote {
    font-size: 19px;
    padding: 30px 0 20px; }
  .author-container .author-description .author-name {
    font-size: 30px; }

.author-main-container .bread-crumbs {
  padding: 30px 0 30px;
  display: block; }

.main-info {
  padding-bottom: 60px; }
  .main-info .main-info-title {
    padding: 10px 0 10px; }
  .main-info .main-info-text {
    padding: 10px 130px 10px 0;
    font-size: 18px; }
  .main-info .introduction {
    font-size: 18px;
    padding: 40px 170px 20px 0; }

.signature {
  text-align: right;
  padding-bottom: 10px; }

.gallery-item {
  margin-top: 20px; }

.main-image {
  border-radius: 26px; }

.photo-gallery-writer {
  margin-bottom: 25px;
  margin-top: 20px; }

/*# sourceMappingURL=main.css.map */
