<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <div class="modal-auth-title">Вход в портал</div>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="auth-form" novalidate>
          <div class="form-group">
            <div class="auth-input-label">Логин</div>
            <input type="text" class="auth-input form-control" name="userName" placeholder="Ваш ник" required>
            <div class="invalid-feedback">Введите ник</div>
          </div>
          <div class="form-group">
            <div class="auth-input-label">Пароль</div>
            <input type="password" class="auth-input form-control" name="userPassword" placeholder="Ваш пароль" required>
            <div class="invalid-feedback">Введите пароль</div>
          </div>
          <div class="wrong-data">Неверный ник или пароль</div>
          <div class="modal-footer">
            <button id="buttonSignIn" type="submit" class="button-search button">Вход</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>