<div class="row gallery photo-gallery-writer">
  {% for item in writerPicture %}
    <div class="col-3 gallery-item">
      <a href="content/image/writer_images/{{ item.filename }}">
        <img class="img-fluid" src="content/image/writer_images/{{ item.filename }}" title="{{ item.surname }}">
      </a>
    </div>
  {% endfor %}
</div>
